automations/Atualizar texto para uma matéria.blueprint.json
{
    "name": "Atualizar texto para uma matéria",
    "flow": [
        {
            "id": 60,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4279693
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "C",
                            "b": "1000",
                            "o": "text:equal"
                        },
                        {
                            "a": "C",
                            "o": "exist"
                        }
                    ]
                ],
                "orderBy": "A",
                "sheetId": "Temas",
                "fieldType": "number",
                "sortOrder": "asc",
                "spreadsheetId": "REPLACE_WITH_YOUR_SHEET_ID",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose",
                            "label": "Nº (A)"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Temas"
                        },
                        "fieldType": {
                            "mode": "chose",
                            "label": "Number"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "posts"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google AI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "fieldType",
                        "type": "select",
                        "label": "Field Type",
                        "validate": {
                            "enum": [
                                "string",
                                "number",
                                "date"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "id (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "tema (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "gerado (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "titulo (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "data (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "post id (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "categorias (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 40,
            "module": "wordpress:getPost",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 4280226
            },
            "mapper": {
                "id": "{{60.`5`}}",
                "type": "posts"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "type": {
                            "mode": "chose",
                            "label": "Posts"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "wordpress4"
                            },
                            "label": "WordPress Blog Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:wordpress4",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "number",
                        "label": "Post ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "Post ID"
                    },
                    {
                        "name": "author",
                        "type": "uinteger",
                        "label": "Author ID"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "excerpt",
                        "type": "text",
                        "label": "Excerpt"
                    },
                    {
                        "name": "featuredMedia",
                        "type": "number",
                        "label": "Featured media ID"
                    },
                    {
                        "name": "date",
                        "type": "text",
                        "label": "Date"
                    },
                    {
                        "name": "date_gmt",
                        "type": "text",
                        "label": "Date GMT"
                    },
                    {
                        "name": "modified",
                        "type": "text",
                        "label": "Modified"
                    },
                    {
                        "name": "comment_status",
                        "type": "text",
                        "label": "Comment Status"
                    },
                    {
                        "name": "ping_status",
                        "type": "text",
                        "label": "Ping Status"
                    },
                    {
                        "name": "modified_gmt",
                        "type": "text",
                        "label": "Modified GMT"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "slug",
                        "type": "text",
                        "label": "Slug"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "sticky",
                        "type": "boolean",
                        "label": "Sticky"
                    },
                    {
                        "name": "categories",
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "tags",
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "guid",
                        "type": "text",
                        "label": "Guid"
                    },
                    {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "type_for_mapping",
                        "type": "text",
                        "label": "Type for Mapping"
                    },
                    {
                        "name": "link",
                        "type": "url",
                        "label": "Link"
                    },
                    {
                        "name": "featured_media",
                        "type": "number",
                        "label": "Featured media"
                    },
                    {
                        "name": "template",
                        "type": "text",
                        "label": "Template"
                    },
                    {
                        "name": "format",
                        "type": "text",
                        "label": "Format"
                    },
                    {
                        "name": "permalink_template",
                        "type": "text",
                        "label": "Permalink template"
                    },
                    {
                        "name": "generated_slug",
                        "type": "text",
                        "label": "Generated slug"
                    },
                    {
                        "name": "_links",
                        "spec": [
                            {
                                "name": "self",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Self"
                            },
                            {
                                "name": "collection",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Collection"
                            },
                            {
                                "name": "about",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "About"
                            },
                            {
                                "name": "author",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "embeddable",
                                            "type": "boolean",
                                            "label": "Embeddable"
                                        },
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Author"
                            },
                            {
                                "name": "replies",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "embeddable",
                                            "type": "boolean",
                                            "label": "Embeddable"
                                        },
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Replies"
                            },
                            {
                                "name": "version-history",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "count",
                                            "type": "number",
                                            "label": "Count"
                                        },
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Version History"
                            },
                            {
                                "name": "predecessor-version",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "number",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Predecessor Version"
                            },
                            {
                                "name": "wp:attachment",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Wp:Attachment"
                            },
                            {
                                "name": "wp:term",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "taxonomy",
                                            "type": "text",
                                            "label": "Taxonomy"
                                        },
                                        {
                                            "name": "embeddable",
                                            "type": "boolean",
                                            "label": "Embeddable"
                                        },
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Wp:Term"
                            },
                            {
                                "name": "curies",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        },
                                        {
                                            "name": "templated",
                                            "type": "boolean",
                                            "label": "Templated"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Curies"
                            }
                        ],
                        "type": "collection",
                        "label": " Links"
                    }
                ]
            }
        },
        {
            "id": 51,
            "module": "wordpress:searchTags",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 4280226
            },
            "mapper": {
                "post": "{{40.id}}",
                "limit": "10"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "post": {
                            "mode": "edit"
                        },
                        "exclude": {
                            "mode": "chose"
                        },
                        "include": {
                            "mode": "chose"
                        },
                        "hide_empty": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "wordpress4"
                            },
                            "label": "WordPress Blog Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:wordpress4",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "search",
                        "type": "text",
                        "label": "Search"
                    },
                    {
                        "name": "post",
                        "type": "select",
                        "label": "Post ID"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "include",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "Tag ID",
                            "dynamic": true,
                            "options": []
                        },
                        "type": "array",
                        "label": "Include"
                    },
                    {
                        "name": "exclude",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "Tag ID",
                            "dynamic": true,
                            "options": []
                        },
                        "type": "array",
                        "label": "Exclude"
                    },
                    {
                        "name": "slug",
                        "type": "text",
                        "label": "Slug"
                    },
                    {
                        "name": "hide_empty",
                        "type": "boolean",
                        "label": "Hide Empty"
                    }
                ]
            }
        },
        {
            "id": 57,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 51,
                "rowSeparator": "other",
                "otherRowSeparator": ", "
            },
            "mapper": {
                "value": "{{51.name}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "WordPress - Search Tags [51]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Other"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "otherRowSeparator",
                        "type": "text",
                        "label": "Separator"
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 43,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4279980
            },
            "mapper": {
                "model": "gemma-3n-e4b-it",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "text": "INCLUA AQUI SEU PROMPT PARA GERAR A MATERIA",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "generationConfig": {
                    "thinkingConfig": {}
                },
                "system_instruction": {}
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemma 3n E4B"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "include_thoughts": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "My Gemini AI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ]
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": false
                                                            },
                                                            {
                                                                "help": "You get this from the 'Upload a File' module.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": false
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": false
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ],
                                "type": "array",
                                "label": "Parts"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system_instruction",
                        "spec": [
                            {
                                "name": "parts",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt"
                                },
                                "type": "array",
                                "label": "Prompts"
                            }
                        ],
                        "type": "collection",
                        "label": "System Instructions"
                    },
                    {
                        "name": "safetySettings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "generationConfig",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Stop Sequence"
                                },
                                "type": "array",
                                "label": "Stop Sequences"
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thinking Config"
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Mime Type"
                            }
                        ],
                        "type": "collection",
                        "label": "Generation configurations"
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    }
                ]
            }
        },
        {
            "id": 58,
            "module": "wordpress:updatePost",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 4280226
            },
            "mapper": {
                "id": "{{40.id}}",
                "type": "posts",
                "content": "{{43.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "meta": {
                            "mode": "chose"
                        },
                        "tags": {
                            "mode": "chose"
                        },
                        "type": {
                            "mode": "chose",
                            "label": "Posts"
                        },
                        "author": {
                            "mode": "chose"
                        },
                        "format": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "status": {
                            "mode": "chose"
                        },
                        "sticky": {
                            "mode": "chose"
                        },
                        "taxonomy": {
                            "mode": "chose"
                        },
                        "categories": {
                            "mode": "chose"
                        },
                        "pingStatus": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "commentStatus": {
                            "mode": "chose",
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "wordpress4"
                            },
                            "label": "WordPress Blog Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:wordpress4",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Type",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "number",
                        "label": "Post ID",
                        "required": true
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "excerpt",
                        "type": "text",
                        "label": "Excerpt"
                    },
                    {
                        "name": "date",
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "slug",
                        "type": "text",
                        "label": "Slug"
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status"
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Format"
                    },
                    {
                        "name": "parent",
                        "type": "number",
                        "label": "Parent object ID"
                    },
                    {
                        "name": "categories",
                        "type": "select",
                        "label": "Categories",
                        "multiple": true
                    },
                    {
                        "name": "tags",
                        "type": "select",
                        "label": "Tags",
                        "multiple": true
                    },
                    {
                        "name": "author",
                        "type": "select",
                        "label": "Author"
                    },
                    {
                        "name": "featuredMedia",
                        "type": "number",
                        "label": "Featured media ID"
                    },
                    {
                        "name": "template",
                        "type": "text",
                        "label": "Template"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "sticky",
                        "type": "boolean",
                        "label": "Sticky"
                    },
                    {
                        "name": "commentStatus",
                        "type": "select",
                        "label": "Comment status",
                        "validate": {
                            "enum": [
                                "open",
                                "closed"
                            ]
                        }
                    },
                    {
                        "name": "pingStatus",
                        "type": "select",
                        "label": "Ping status",
                        "validate": {
                            "enum": [
                                "open",
                                "closed"
                            ]
                        }
                    },
                    {
                        "name": "taxonomy",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "values",
                                "type": "array",
                                "label": "Values",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Additional fields"
                    },
                    {
                        "name": "meta",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Metadata (custom fields)"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "Post ID"
                    },
                    {
                        "name": "author",
                        "type": "uinteger",
                        "label": "Author ID"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "excerpt",
                        "type": "text",
                        "label": "Excerpt"
                    },
                    {
                        "name": "featuredMedia",
                        "type": "number",
                        "label": "Featured media ID"
                    },
                    {
                        "name": "date",
                        "type": "text",
                        "label": "Date"
                    },
                    {
                        "name": "date_gmt",
                        "type": "text",
                        "label": "Date GMT"
                    },
                    {
                        "name": "modified",
                        "type": "text",
                        "label": "Modified"
                    },
                    {
                        "name": "comment_status",
                        "type": "text",
                        "label": "Comment Status"
                    },
                    {
                        "name": "ping_status",
                        "type": "text",
                        "label": "Ping Status"
                    },
                    {
                        "name": "modified_gmt",
                        "type": "text",
                        "label": "Modified GMT"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "slug",
                        "type": "text",
                        "label": "Slug"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "sticky",
                        "type": "boolean",
                        "label": "Sticky"
                    },
                    {
                        "name": "categories",
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "tags",
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "guid",
                        "type": "text",
                        "label": "Guid"
                    },
                    {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "type_for_mapping",
                        "type": "text",
                        "label": "Type for Mapping"
                    },
                    {
                        "name": "link",
                        "type": "url",
                        "label": "Link"
                    },
                    {
                        "name": "featured_media",
                        "type": "number",
                        "label": "Featured media"
                    },
                    {
                        "name": "template",
                        "type": "text",
                        "label": "Template"
                    },
                    {
                        "name": "format",
                        "type": "text",
                        "label": "Format"
                    },
                    {
                        "name": "permalink_template",
                        "type": "text",
                        "label": "Permalink template"
                    },
                    {
                        "name": "generated_slug",
                        "type": "text",
                        "label": "Generated slug"
                    },
                    {
                        "name": "_links",
                        "spec": [
                            {
                                "name": "self",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Self"
                            },
                            {
                                "name": "collection",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Collection"
                            },
                            {
                                "name": "about",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "About"
                            },
                            {
                                "name": "author",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "embeddable",
                                            "type": "boolean",
                                            "label": "Embeddable"
                                        },
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Author"
                            },
                            {
                                "name": "replies",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "embeddable",
                                            "type": "boolean",
                                            "label": "Embeddable"
                                        },
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Replies"
                            },
                            {
                                "name": "version-history",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "count",
                                            "type": "number",
                                            "label": "Count"
                                        },
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Version History"
                            },
                            {
                                "name": "predecessor-version",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "number",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Predecessor Version"
                            },
                            {
                                "name": "wp:attachment",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Wp:Attachment"
                            },
                            {
                                "name": "wp:term",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "taxonomy",
                                            "type": "text",
                                            "label": "Taxonomy"
                                        },
                                        {
                                            "name": "embeddable",
                                            "type": "boolean",
                                            "label": "Embeddable"
                                        },
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Wp:Term"
                            },
                            {
                                "name": "curies",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "href",
                                            "type": "text",
                                            "label": "Href"
                                        },
                                        {
                                            "name": "templated",
                                            "type": "boolean",
                                            "label": "Templated"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Curies"
                            }
                        ],
                        "type": "collection",
                        "label": " Links"
                    }
                ]
            }
        },
        {
            "id": 61,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4279693
            },
            "mapper": {
                "mode": "fromAll",
                "values": {
                    "2": "4"
                },
                "sheetId": "{{60.`__SHEET__`}}",
                "rowNumber": "{{60.`__ROW_NUMBER__`}}",
                "spreadsheetId": "{{60.`__SPREADSHEET_ID__`}}",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "label": "Select from all"
                        },
                        "sheetId": {
                            "mode": "edit"
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "AA"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "AB"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "AC"
                                        },
                                        {
                                            "name": "29",
                                            "type": "text",
                                            "label": "AD"
                                        },
                                        {
                                            "name": "30",
                                            "type": "text",
                                            "label": "AE"
                                        },
                                        {
                                            "name": "31",
                                            "type": "text",
                                            "label": "AF"
                                        },
                                        {
                                            "name": "32",
                                            "type": "text",
                                            "label": "AG"
                                        },
                                        {
                                            "name": "33",
                                            "type": "text",
                                            "label": "AH"
                                        },
                                        {
                                            "name": "34",
                                            "type": "text",
                                            "label": "AI"
                                        },
                                        {
                                            "name": "35",
                                            "type": "text",
                                            "label": "AJ"
                                        },
                                        {
                                            "name": "36",
                                            "type": "text",
                                            "label": "AK"
                                        },
                                        {
                                            "name": "37",
                                            "type": "text",
                                            "label": "AL"
                                        },
                                        {
                                            "name": "38",
                                            "type": "text",
                                            "label": "AM"
                                        },
                                        {
                                            "name": "39",
                                            "type": "text",
                                            "label": "AN"
                                        },
                                        {
                                            "name": "40",
                                            "type": "text",
                                            "label": "AO"
                                        },
                                        {
                                            "name": "41",
                                            "type": "text",
                                            "label": "AP"
                                        },
                                        {
                                            "name": "42",
                                            "type": "text",
                                            "label": "AQ"
                                        },
                                        {
                                            "name": "43",
                                            "type": "text",
                                            "label": "AR"
                                        },
                                        {
                                            "name": "44",
                                            "type": "text",
                                            "label": "AS"
                                        },
                                        {
                                            "name": "45",
                                            "type": "text",
                                            "label": "AT"
                                        },
                                        {
                                            "name": "46",
                                            "type": "text",
                                            "label": "AU"
                                        },
                                        {
                                            "name": "47",
                                            "type": "text",
                                            "label": "AV"
                                        },
                                        {
                                            "name": "48",
                                            "type": "text",
                                            "label": "AW"
                                        },
                                        {
                                            "name": "49",
                                            "type": "text",
                                            "label": "AX"
                                        },
                                        {
                                            "name": "50",
                                            "type": "text",
                                            "label": "AY"
                                        },
                                        {
                                            "name": "51",
                                            "type": "text",
                                            "label": "AZ"
                                        },
                                        {
                                            "name": "52",
                                            "type": "text",
                                            "label": "BA"
                                        },
                                        {
                                            "name": "53",
                                            "type": "text",
                                            "label": "BB"
                                        },
                                        {
                                            "name": "54",
                                            "type": "text",
                                            "label": "BC"
                                        },
                                        {
                                            "name": "55",
                                            "type": "text",
                                            "label": "BD"
                                        },
                                        {
                                            "name": "56",
                                            "type": "text",
                                            "label": "BE"
                                        },
                                        {
                                            "name": "57",
                                            "type": "text",
                                            "label": "BF"
                                        },
                                        {
                                            "name": "58",
                                            "type": "text",
                                            "label": "BG"
                                        },
                                        {
                                            "name": "59",
                                            "type": "text",
                                            "label": "BH"
                                        },
                                        {
                                            "name": "60",
                                            "type": "text",
                                            "label": "BI"
                                        },
                                        {
                                            "name": "61",
                                            "type": "text",
                                            "label": "BJ"
                                        },
                                        {
                                            "name": "62",
                                            "type": "text",
                                            "label": "BK"
                                        },
                                        {
                                            "name": "63",
                                            "type": "text",
                                            "label": "BL"
                                        },
                                        {
                                            "name": "64",
                                            "type": "text",
                                            "label": "BM"
                                        },
                                        {
                                            "name": "65",
                                            "type": "text",
                                            "label": "BN"
                                        },
                                        {
                                            "name": "66",
                                            "type": "text",
                                            "label": "BO"
                                        },
                                        {
                                            "name": "67",
                                            "type": "text",
                                            "label": "BP"
                                        },
                                        {
                                            "name": "68",
                                            "type": "text",
                                            "label": "BQ"
                                        },
                                        {
                                            "name": "69",
                                            "type": "text",
                                            "label": "BR"
                                        },
                                        {
                                            "name": "70",
                                            "type": "text",
                                            "label": "BS"
                                        },
                                        {
                                            "name": "71",
                                            "type": "text",
                                            "label": "BT"
                                        },
                                        {
                                            "name": "72",
                                            "type": "text",
                                            "label": "BU"
                                        },
                                        {
                                            "name": "73",
                                            "type": "text",
                                            "label": "BV"
                                        },
                                        {
                                            "name": "74",
                                            "type": "text",
                                            "label": "BW"
                                        },
                                        {
                                            "name": "75",
                                            "type": "text",
                                            "label": "BX"
                                        },
                                        {
                                            "name": "76",
                                            "type": "text",
                                            "label": "BY"
                                        },
                                        {
                                            "name": "77",
                                            "type": "text",
                                            "label": "BZ"
                                        },
                                        {
                                            "name": "78",
                                            "type": "text",
                                            "label": "CA"
                                        },
                                        {
                                            "name": "79",
                                            "type": "text",
                                            "label": "CB"
                                        },
                                        {
                                            "name": "80",
                                            "type": "text",
                                            "label": "CC"
                                        },
                                        {
                                            "name": "81",
                                            "type": "text",
                                            "label": "CD"
                                        },
                                        {
                                            "name": "82",
                                            "type": "text",
                                            "label": "CE"
                                        },
                                        {
                                            "name": "83",
                                            "type": "text",
                                            "label": "CF"
                                        },
                                        {
                                            "name": "84",
                                            "type": "text",
                                            "label": "CG"
                                        },
                                        {
                                            "name": "85",
                                            "type": "text",
                                            "label": "CH"
                                        },
                                        {
                                            "name": "86",
                                            "type": "text",
                                            "label": "CI"
                                        },
                                        {
                                            "name": "87",
                                            "type": "text",
                                            "label": "CJ"
                                        },
                                        {
                                            "name": "88",
                                            "type": "text",
                                            "label": "CK"
                                        },
                                        {
                                            "name": "89",
                                            "type": "text",
                                            "label": "CL"
                                        },
                                        {
                                            "name": "90",
                                            "type": "text",
                                            "label": "CM"
                                        },
                                        {
                                            "name": "91",
                                            "type": "text",
                                            "label": "CN"
                                        },
                                        {
                                            "name": "92",
                                            "type": "text",
                                            "label": "CO"
                                        },
                                        {
                                            "name": "93",
                                            "type": "text",
                                            "label": "CP"
                                        },
                                        {
                                            "name": "94",
                                            "type": "text",
                                            "label": "CQ"
                                        },
                                        {
                                            "name": "95",
                                            "type": "text",
                                            "label": "CR"
                                        },
                                        {
                                            "name": "96",
                                            "type": "text",
                                            "label": "CS"
                                        },
                                        {
                                            "name": "97",
                                            "type": "text",
                                            "label": "CT"
                                        },
                                        {
                                            "name": "98",
                                            "type": "text",
                                            "label": "CU"
                                        },
                                        {
                                            "name": "99",
                                            "type": "text",
                                            "label": "CV"
                                        },
                                        {
                                            "name": "100",
                                            "type": "text",
                                            "label": "CW"
                                        },
                                        {
                                            "name": "101",
                                            "type": "text",
                                            "label": "CX"
                                        },
                                        {
                                            "name": "102",
                                            "type": "text",
                                            "label": "CY"
                                        },
                                        {
                                            "name": "103",
                                            "type": "text",
                                            "label": "CZ"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google AI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "mode": "edit",
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "AA"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "AB"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "AC"
                            },
                            {
                                "name": "29",
                                "type": "text",
                                "label": "AD"
                            },
                            {
                                "name": "30",
                                "type": "text",
                                "label": "AE"
                            },
                            {
                                "name": "31",
                                "type": "text",
                                "label": "AF"
                            },
                            {
                                "name": "32",
                                "type": "text",
                                "label": "AG"
                            },
                            {
                                "name": "33",
                                "type": "text",
                                "label": "AH"
                            },
                            {
                                "name": "34",
                                "type": "text",
                                "label": "AI"
                            },
                            {
                                "name": "35",
                                "type": "text",
                                "label": "AJ"
                            },
                            {
                                "name": "36",
                                "type": "text",
                                "label": "AK"
                            },
                            {
                                "name": "37",
                                "type": "text",
                                "label": "AL"
                            },
                            {
                                "name": "38",
                                "type": "text",
                                "label": "AM"
                            },
                            {
                                "name": "39",
                                "type": "text",
                                "label": "AN"
                            },
                            {
                                "name": "40",
                                "type": "text",
                                "label": "AO"
                            },
                            {
                                "name": "41",
                                "type": "text",
                                "label": "AP"
                            },
                            {
                                "name": "42",
                                "type": "text",
                                "label": "AQ"
                            },
                            {
                                "name": "43",
                                "type": "text",
                                "label": "AR"
                            },
                            {
                                "name": "44",
                                "type": "text",
                                "label": "AS"
                            },
                            {
                                "name": "45",
                                "type": "text",
                                "label": "AT"
                            },
                            {
                                "name": "46",
                                "type": "text",
                                "label": "AU"
                            },
                            {
                                "name": "47",
                                "type": "text",
                                "label": "AV"
                            },
                            {
                                "name": "48",
                                "type": "text",
                                "label": "AW"
                            },
                            {
                                "name": "49",
                                "type": "text",
                                "label": "AX"
                            },
                            {
                                "name": "50",
                                "type": "text",
                                "label": "AY"
                            },
                            {
                                "name": "51",
                                "type": "text",
                                "label": "AZ"
                            },
                            {
                                "name": "52",
                                "type": "text",
                                "label": "BA"
                            },
                            {
                                "name": "53",
                                "type": "text",
                                "label": "BB"
                            },
                            {
                                "name": "54",
                                "type": "text",
                                "label": "BC"
                            },
                            {
                                "name": "55",
                                "type": "text",
                                "label": "BD"
                            },
                            {
                                "name": "56",
                                "type": "text",
                                "label": "BE"
                            },
                            {
                                "name": "57",
                                "type": "text",
                                "label": "BF"
                            },
                            {
                                "name": "58",
                                "type": "text",
                                "label": "BG"
                            },
                            {
                                "name": "59",
                                "type": "text",
                                "label": "BH"
                            },
                            {
                                "name": "60",
                                "type": "text",
                                "label": "BI"
                            },
                            {
                                "name": "61",
                                "type": "text",
                                "label": "BJ"
                            },
                            {
                                "name": "62",
                                "type": "text",
                                "label": "BK"
                            },
                            {
                                "name": "63",
                                "type": "text",
                                "label": "BL"
                            },
                            {
                                "name": "64",
                                "type": "text",
                                "label": "BM"
                            },
                            {
                                "name": "65",
                                "type": "text",
                                "label": "BN"
                            },
                            {
                                "name": "66",
                                "type": "text",
                                "label": "BO"
                            },
                            {
                                "name": "67",
                                "type": "text",
                                "label": "BP"
                            },
                            {
                                "name": "68",
                                "type": "text",
                                "label": "BQ"
                            },
                            {
                                "name": "69",
                                "type": "text",
                                "label": "BR"
                            },
                            {
                                "name": "70",
                                "type": "text",
                                "label": "BS"
                            },
                            {
                                "name": "71",
                                "type": "text",
                                "label": "BT"
                            },
                            {
                                "name": "72",
                                "type": "text",
                                "label": "BU"
                            },
                            {
                                "name": "73",
                                "type": "text",
                                "label": "BV"
                            },
                            {
                                "name": "74",
                                "type": "text",
                                "label": "BW"
                            },
                            {
                                "name": "75",
                                "type": "text",
                                "label": "BX"
                            },
                            {
                                "name": "76",
                                "type": "text",
                                "label": "BY"
                            },
                            {
                                "name": "77",
                                "type": "text",
                                "label": "BZ"
                            },
                            {
                                "name": "78",
                                "type": "text",
                                "label": "CA"
                            },
                            {
                                "name": "79",
                                "type": "text",
                                "label": "CB"
                            },
                            {
                                "name": "80",
                                "type": "text",
                                "label": "CC"
                            },
                            {
                                "name": "81",
                                "type": "text",
                                "label": "CD"
                            },
                            {
                                "name": "82",
                                "type": "text",
                                "label": "CE"
                            },
                            {
                                "name": "83",
                                "type": "text",
                                "label": "CF"
                            },
                            {
                                "name": "84",
                                "type": "text",
                                "label": "CG"
                            },
                            {
                                "name": "85",
                                "type": "text",
                                "label": "CH"
                            },
                            {
                                "name": "86",
                                "type": "text",
                                "label": "CI"
                            },
                            {
                                "name": "87",
                                "type": "text",
                                "label": "CJ"
                            },
                            {
                                "name": "88",
                                "type": "text",
                                "label": "CK"
                            },
                            {
                                "name": "89",
                                "type": "text",
                                "label": "CL"
                            },
                            {
                                "name": "90",
                                "type": "text",
                                "label": "CM"
                            },
                            {
                                "name": "91",
                                "type": "text",
                                "label": "CN"
                            },
                            {
                                "name": "92",
                                "type": "text",
                                "label": "CO"
                            },
                            {
                                "name": "93",
                                "type": "text",
                                "label": "CP"
                            },
                            {
                                "name": "94",
                                "type": "text",
                                "label": "CQ"
                            },
                            {
                                "name": "95",
                                "type": "text",
                                "label": "CR"
                            },
                            {
                                "name": "96",
                                "type": "text",
                                "label": "CS"
                            },
                            {
                                "name": "97",
                                "type": "text",
                                "label": "CT"
                            },
                            {
                                "name": "98",
                                "type": "text",
                                "label": "CU"
                            },
                            {
                                "name": "99",
                                "type": "text",
                                "label": "CV"
                            },
                            {
                                "name": "100",
                                "type": "text",
                                "label": "CW"
                            },
                            {
                                "name": "101",
                                "type": "text",
                                "label": "CX"
                            },
                            {
                                "name": "102",
                                "type": "text",
                                "label": "CY"
                            },
                            {
                                "name": "103",
                                "type": "text",
                                "label": "CZ"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}